{% extends 'master_app/base.html' %}
{% load staticfiles %}
{% block content %}
<h1>{{ game }}</h1>


<div class="guesses">

   <h3>Master Code</h3>
   {% for peg in code %}
      <div class="peg" style="background-color:{{ peg }}"></div>
   {% endfor %}

   <!-- All the previous guesses -->
   <h3>Previous Guesses</h3>
   {% for guess in guesses %}
      <div class="guess">
         <!-- Guess pegs -->
         {% for peg in guess.pegs %}
            <div class="peg" style="background-color:{{ peg.color }}">{{ peg.num }}</div>
         {% endfor %}

         <div class="keys">
            <!-- Key pegs -->
            {% for keypeg in guess.keys %}
               <div class="peg" style="background-color:{{ keypeg }}"></div>
            {% endfor %}
         </div> 

      </div>
   {% endfor %}


</div>

<div class="new-guess">
   <h3>Make a Guess</h3>

   <!-- Form with the four peg color guesses -->
   <form method='post' id="new-guess">
         {% csrf_token %}
         <input type="hidden" name="game" value="{{game.pk}}">
         <input type="hidden" id="guess_num" name="guess" value="{{curr_guess}}">
         {% for slot in num_slots %}
            <select id='slot_{{slot}}' name='{{slot}}'>
               {% for c in colors %}
                  <option value='{{ c.pk }}'>{{ c.name }}</option>
               {% endfor %}
            </select>
         {% endfor %}
         <input type="submit" />
      </form>

</div>

<script src="{% static 'master_app/submitGuess.js' %}"></script>
{% endblock %}